body{
    margin: 0px;
    padding: 0px;

}
.logo {
    max-width: 80px;
}
header{
    padding: 16px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    background-color: #fcc0c5;
    position: sticky;
    top:0px;
}
@media (max-width: 999px) {
    .main-nav {
      display: none;
    }
  }
  .mobile-main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fcc0c5;
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
  }

  .main-nav a {
    color:#234534;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:none;
    padding:0 10px
  }

  .main-nav a:hover {
    font-weight: bold;
    font-size: 18px;
  }

  .icon {
    color:#234534;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 20px;
  }

  .icon:hover {
    font-weight: bold;
  }

  .mobile-main-nav a {
    padding: 8px;
    color:#234534;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration:none;
  }

  .mobile-main-nav a:hover {
    font-weight: bold;
    font-size: 18px;
  }

  @media (min-width: 1000px) {
    .mobile-nav-wrapper {
      display: none;
    }
  }

.hero-container {
background-image: url(../img/hero-section-background.png);
height:100vh;
background-size:cover;
background-position:center -350px;
background-repeat:no-repeat;
display:flex;
align-items: flex-start;
justify-content:space-between;
padding:0 150px;
}

.contact-button {
    padding: 20px 20px;
    background-color:#ffffff;
    color:#234534;
    font-size: 20px;
    border-radius:30px;
    cursor:pointer;
    text-decoration: none;
    position: center;
    display: block;
    text-align: center;
    width: fit-content;
    margin: 30px auto;
}

.contact-button:hover {
    background-color: #234534;
    color:#ffffff
}

@font-face {
    font-family: "Sofia";
    src: url(../font/Sofia-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

  h1{
    font-family: "Sofia";
    font-size:70px;
    margin:0px;
    color:#234534;
    text-align:center;
  }

  .hero-text {
    max-width:60%;
    text-align: center;
  }

  .hero-text p {
    font-size: 20px;
    line-height:1.2;
    margin:10px 0;
  }

  .hero-left-image, .hero-right-image {
    max-width: 250px;
  }

  .hero-left-image img, .hero-right-image img {
    width: 100%;
    height:auto;
    display:block;
  }

  @media (max-width:999px){
    .hero-container{
      padding: 0 20px;
      height: 105vh
    }
    h1 {
      font-size:40px;
    }
    .hero-text p {
      font-size: 16px;
    }
    .contact-button {
      padding: 20px 20px;
      font-size: 18px;
    }
    .hero-left-image, .hero-right-image{
      max-width:100px;
      margin-top: 40px;
    }
    .contact-button {
      margin-top: 8px;
    }
  }
